#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [4]:
users = pd.read_csv("../your-code/users.csv")

In [6]:
users.head()

,Unnamed: 0,id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk
1,1,218597,icabod,NaN,NaN,2009-11-25 13:30:42.460000+00:00,2020-05-29 11:44:18.140000+00:00,United Kingdom,6559,361,25,374,NaN,http://icablog.org/
2,2,326360,rbaker86,<p>Software developer and technology enthusias...,NaN,2010-04-26 21:18:19.857000+00:00,2017-12-04 16:49:29.297000+00:00,United Kingdom,1802,40,14,97,NaN,http://na
3,3,379556,Rui Marques,<p>Engineer and Automation Architect at Vonage...,NaN,2010-06-29 23:32:49.870000+00:00,2020-05-28 14:49:23.427000+00:00,United Kingdom,2335,125,10,261,NaN,http://ruimarques.io
4,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com

In [7]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14848 entries, 0 to 14847
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Unnamed: 0         14848 non-null  int64
 1   id                 14848 non-null  int64
 2   display_name       14848 non-null  object
 3   about_me           5919 non-null   object
 4   age                0 non-null      float64
 5   creation_date      14848 non-null  object
 6   last_access_date   14848 non-null  object
 7   location           14848 non-null  object
 8   reputation         14848 non-null  int64
 9   up_votes           14848 non-null  int64
 10  down_votes         14848 non-null  int64
 11  views              14848 non-null  int64
 12  profile_image_url  9450 non-null   object
 13  website_url        4805 non-null   object
dtypes: float64(1), int64(6), object(7)
memory usage: 1.6+ MB

In [8]:
users.shape

(14848, 14)

In [5]:
posts = pd.read_csv("../your-code/posts.csv")

In [9]:
posts.head()

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  30336926            NaN      1          14              3             NaN
1  36873524            NaN      1          18              0             1.0
2  36605876            NaN      1          19              0             NaN
3  36718461            NaN      1          17              0             NaN
4  30434893            NaN      0          15              0             NaN

In [10]:
posts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 325610 entries, 0 to 325609
Data columns (total 6 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   id              325610 non-null  int64
 1   owner_user_id   324368 non-null  float64
 2   score           325610 non-null  int64
 3   view_count      325610 non-null  int64
 4   comment_count   325610 non-null  int64
 5   favorite_count  14499 non-null   float64
dtypes: float64(2), int64(4)
memory usage: 14.9 MB

#### 3. Rename id column to user_id

In [17]:
users.rename(columns = {'id': 'user_id'}, inplace=True)

In [18]:
users.columns

Index(['Unnamed: 0', 'user_id', 'display_name', 'about_me', 'age',
       'creation_date', 'last_access_date', 'location', 'reputation',
       'up_votes', 'down_votes', 'views', 'profile_image_url', 'website_url'],
      dtype='object')

#### 4. Rename id column to post_id and owner_user_id to user_id

In [19]:
posts.rename(columns = {'id': 'post_id', 'owner_user_id': 'user_id'}, inplace=True)

In [20]:
posts.columns

Index(['post_id', 'user_id', 'score', 'view_count', 'comment_count',
       'favorite_count'],
      dtype='object')

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [25]:
users = users[['user_id', 'reputation','views','up_votes','down_votes']]
users.head()

   user_id  reputation  views  up_votes  down_votes
0   107658         305     91         2           0
1   218597        6559    374       361          25
2   326360        1802     97        40          14
3   379556        2335    261       125          10
4   450456        7746   3598       256          50

In [26]:
posts = posts[['post_id', 'score','user_id','view_count','comment_count']]
posts.head()

    post_id  score  user_id  view_count  comment_count
0  30336926      1      NaN          14              3
1  36873524      1      NaN          18              0
2  36605876      1      NaN          19              0
3  36718461      1      NaN          17              0
4  30434893      0      NaN          15              0

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [42]:
#those users who have written a post
merged = pd.merge(users, posts, how='inner', on='user_id')
merged.head()

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,450456,7746,3598,256,50,34989087,0,19,0
1,450456,7746,3598,256,50,4142174,0,15,0
2,1517244,4172,224,1362,32,37211628,2,18,0
3,1870509,897,105,86,2,30260248,1,11,4
4,101719,4055,332,174,16,34528617,0,18,0

In [43]:
merged.tail()

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
1060,4295902,1,4,0,0,31038301,0,10,0
1061,2856201,11,21,0,0,19348144,0,19,2
1062,5882818,11,3,0,0,35199880,0,20,2
1063,6241297,13,2,0,0,36798683,0,12,0
1064,592420,21,30,2,0,36739521,0,5,0

In [44]:
merged.shape

(1065, 9)

#### 7. How many missing values do you have in your merged dataframe?

In [45]:
merged.isna().sum()

user_id          0
reputation       0
views            0
up_votes         0
down_votes       0
post_id          0
score            0
view_count       0
comment_count    0
dtype: int64

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [58]:
merged.describe()

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
count,1.065000e+03,1065.000000,1065.000000,1065.000000,1065.000000,1.065000e+03,1065.000000,1065.000000,1065.000000
mean,2.280169e+06,7251.176526,615.245070,397.688263,49.415023,3.398846e+07,0.123944,15.606573,0.926761
std,1.833959e+06,24021.612286,1497.407529,747.628862,177.308773,4.495709e+06,0.578141,3.711159,1.627503
min,2.740000e+02,1.000000,0.000000,0.000000,0.000000,4.142174e+06,-7.000000,3.000000,0.000000
25%,6.532920e+05,246.000000,39.000000,15.000000,0.000000,3.289111e+07,0.000000,13.000000,0.000000
50%,1.996838e+06,1145.000000,145.000000,96.000000,3.000000,3.556317e+07,0.000000,17.000000,0.000000
75%,3.545704e+06,5206.000000,496.000000,375.000000,20.000000,3.699112e+07,0.000000,19.000000,1.000000
max,6.449207e+06,287170.000000,23103.000000,7886.000000,2692.000000,3.776986e+07,3.000000,20.000000,11.000000

In [82]:
# We'll be using the IQR method to display the outliers
# Source: https://towardsdatascience.com/ways-to-detect-and-remove-the-outliers-404d16608dba
# The interquartile range (IQR) is equal to the difference between 75th and 25th percentiles, or between upper and 
# lower quartiles, IQR = Q3 − Q1.

Q1 = merged.quantile(0.25)
Q3 = merged.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

user_id          2892412.0
reputation          4960.0
views                457.0
up_votes             360.0
down_votes            20.0
post_id          4100013.0
score                  0.0
view_count             6.0
comment_count          1.0
dtype: float64

In [75]:
# Calculating the values of the merged dataframe that fall outside the bounds
# (merged < (Q1 - 1.5 * IQR)) |(merged > (Q3 + 1.5 * IQR))

(merged < (Q1 - 1.5 * IQR)) |(merged > (Q3 + 1.5 * IQR))

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
0,False,False,True,False,False,False,False,False,False
1,False,False,True,False,False,True,False,False,False
2,False,False,False,True,False,False,True,False,False
3,False,False,False,False,False,False,True,False,True
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
1060,False,False,False,False,False,False,False,False,False
1061,False,False,False,False,False,True,False,False,False
1062,False,False,False,False,False,False,False,False,False
1063,False,False,False,False,False,False,False,False,False
1064,False,False,False,False,False,False,False,False,False

In [76]:
# Creating the outliers dataframe with the same columns as the merged dataframe
outliers = pd.DataFrame(columns = merged.columns)

In [78]:
df = merged.describe().T
df['IQR'] = df['75%'] - df['25%']
df

,count,mean,std,min,25%,50%,75%,max,IQR
user_id,1065.0,2.280169e+06,1.833959e+06,274.0,653292.0,1996838.0,3545704.0,6449207.0,2892412.0
reputation,1065.0,7.251177e+03,2.402161e+04,1.0,246.0,1145.0,5206.0,287170.0,4960.0
views,1065.0,6.152451e+02,1.497408e+03,0.0,39.0,145.0,496.0,23103.0,457.0
up_votes,1065.0,3.976883e+02,7.476289e+02,0.0,15.0,96.0,375.0,7886.0,360.0
down_votes,1065.0,4.941502e+01,1.773088e+02,0.0,0.0,3.0,20.0,2692.0,20.0
post_id,1065.0,3.398846e+07,4.495709e+06,4142174.0,32891107.0,35563172.0,36991120.0,37769864.0,4100013.0
score,1065.0,1.239437e-01,5.781415e-01,-7.0,0.0,0.0,0.0,3.0,0.0
view_count,1065.0,1.560657e+01,3.711159e+00,3.0,13.0,17.0,19.0,20.0,6.0
comment_count,1065.0,9.267606e-01,1.627503e+00,0.0,0.0,0.0,1.0,11.0,1.0

In [80]:
for i in df.index:
    lower_bound = df.at[i, '25%'] - df.at[i, 'IQR']
    upper_bound = df.at[i, '75%'] + df.at[i, 'IQR']
    res = merged[(merged[i] < lower_bound) | (merged[i] > upper_bound)]
    outliers = outliers.append(res)

In [81]:
outliers

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
225,6449207,3,0,0,0,37744421,0,15,0
17,126280,11837,1054,40,2,30482433,0,19,2
18,126280,11837,1054,40,2,26022165,0,16,2
19,126280,11837,1054,40,2,25078765,0,20,2
20,126280,11837,1054,40,2,37462148,0,13,1
...,...,...,...,...,...,...,...,...,...
1022,3562271,5791,326,112,27,26692520,0,18,3
1036,875393,417,53,236,3,36718577,0,18,6
1037,2762432,2415,190,225,87,37613295,0,12,3
1051,1551819,147,9,34,0,35987581,0,17,8
1054,4556923,17,13,0,0,36695604,0,20,9

In [83]:
outliers.to_csv('outliers.csv')