#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [2]:
users = pd.read_csv("users.csv")

In [3]:
posts = pd.read_csv("posts.csv")

#### 3. Rename id column to user_id

In [4]:

users = users.rename({'id': 'user_id'}, axis='columns')

In [5]:
users.head(1)

,Unnamed: 0,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url
0,0,107658,ivordesign,NaN,NaN,2009-05-15 12:21:51.230000+00:00,2014-08-28 17:43:18.040000+00:00,United Kingdom,305,2,0,91,NaN,http://www.ivorthedesigner.co.uk

In [6]:
posts.head(1)

         id  owner_user_id  score  view_count  comment_count  favorite_count
0  30336926            NaN      1          14              3             NaN

#### 4. Rename id column to post_id and owner_user_id to user_id

In [7]:
posts.rename(columns={"id":"post_id","owner_user_id":"user_id"}, inplace=True)
posts

         post_id    user_id  score  view_count  comment_count  favorite_count
0       30336926        NaN      1          14              3             NaN
1       36873524        NaN      1          18              0             1.0
2       36605876        NaN      1          19              0             NaN
3       36718461        NaN      1          17              0             NaN
4       30434893        NaN      0          15              0             NaN
...          ...        ...    ...         ...            ...             ...
325605  37142382  6315949.0      0          15              0             1.0
325606  36884286  3733872.0      0          20              1             1.0
325607  36140188  5216651.0      0          12              0             1.0
325608  36293699  4811040.0      1          20              1             1.0
325609  36028646  5910006.0      0          19              0             1.0

[325610 rows x 6 columns]

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [8]:
users_columns = users[['user_id', 'reputation','views','up_votes','down_votes']]
users_columns

       user_id  reputation  views  up_votes  down_votes
0       107658         305     91         2           0
1       218597        6559    374       361          25
2       326360        1802     97        40          14
3       379556        2335    261       125          10
4       450456        7746   3598       256          50
...        ...         ...    ...       ...         ...
14843   574332          41      6        10           0
14844  7155452          41      6         0           0
14845  5529001          41     11         0           0
14846  4105549          41     11         2           0
14847  4886640          41     11        13           0

[14848 rows x 5 columns]

In [9]:
posts_columns=posts[["post_id","score","user_id","view_count","comment_count"]]
posts_columns

         post_id  score    user_id  view_count  comment_count
0       30336926      1        NaN          14              3
1       36873524      1        NaN          18              0
2       36605876      1        NaN          19              0
3       36718461      1        NaN          17              0
4       30434893      0        NaN          15              0
...          ...    ...        ...         ...            ...
325605  37142382      0  6315949.0          15              0
325606  36884286      0  3733872.0          20              1
325607  36140188      0  5216651.0          12              0
325608  36293699      1  4811040.0          20              1
325609  36028646      0  5910006.0          19              0

[325610 rows x 5 columns]

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [10]:
Mergedf = pd.merge(users,posts)

In [11]:
Mergedf

,Unnamed: 0,user_id,display_name,about_me,age,creation_date,last_access_date,location,reputation,up_votes,down_votes,views,profile_image_url,website_url,post_id,score,view_count,comment_count,favorite_count
0,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com,34989087,0,19,0,NaN
1,4,450456,Jules,NaN,NaN,2010-09-17 09:47:09.397000+00:00,2020-05-13 07:03:58.113000+00:00,United Kingdom,7746,256,50,3598,https://i.stack.imgur.com/4Y8Zf.jpg?s=128&g=1,https://www.julesmoorhouse.com,4142174,0,15,0,1.0
2,10,1517244,Jimbo,NaN,NaN,2012-07-11 09:05:39.933000+00:00,2020-05-30 10:33:28.170000+00:00,United Kingdom,4172,1362,32,224,NaN,NaN,37211628,2,18,0,NaN
3,29,1870509,vejmartin,NaN,NaN,2012-12-02 15:02:41.817000+00:00,2020-05-22 10:17:52.803000+00:00,United Kingdom,897,86,2,105,NaN,NaN,30260248,1,11,4,NaN
4,45,101719,Sprotty,NaN,NaN,2009-05-05 16:51:05.373000+00:00,2020-05-28 19:53:44.417000+00:00,United Kingdom,4055,174,16,332,NaN,http://www.liquid-technologies.com/,34528617,0,18,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1060,14366,4295902,Herry,NaN,NaN,2014-11-26 12:25:00.340000+00:00,2015-12-28 22:21:07.917000+00:00,United Kingdom,1,0,0,4,https://www.gravatar.com/avatar/c53d757f52ef71...,NaN,31038301,0,10,0,NaN
1061,14523,2856201,Jay,"<p>Hey guys,</p>\r\n\r\n<p>Im a website design...",NaN,2013-10-07 20:42:00.103000+00:00,2020-05-15 15:22:28.720000+00:00,United Kingdom,11,0,0,21,https://i.stack.imgur.com/7rp9G.png,http://n/a,19348144,0,19,2,NaN
1062,14582,5882818,Laura5,<p>Coding for my own websites in perl and mysq...,NaN,2016-02-04 11:14:48.923000+00:00,2020-05-31 00:56:57.317000+00:00,United Kingdom,11,0,0,3,https://i.stack.imgur.com/XmCV4.jpg,NaN,35199880,0,20,2,NaN
1063,14658,6241297,B.Cox,NaN,NaN,2016-04-22 14:43:17.427000+00:00,2017-08-26 11:49:16.383000+00:00,United Kingdom,13,0,0,2,https://www.gravatar.com/avatar/f96167160804ec...,NaN,36798683,0,12,0,NaN
1064,14688,592420,Ken Pemberton,"<p>An expert-level Delphi developer, analyst, ...",NaN,2011-01-27 15:14:35.450000+00:00,2020-04-22 11:34:28.490000+00:00,United Kingdom,21,2,0,30,NaN,http://blog.pembi.net,36739521,0,5,0,1.0

#### 7. How many missing values do you have in your merged dataframe?

In [13]:
Mergedf.isnull().sum()

Unnamed: 0              0
user_id                 0
display_name            0
about_me              465
age                  1065
creation_date           0
last_access_date        0
location                0
reputation              0
up_votes                0
down_votes              0
views                   0
profile_image_url     448
website_url           613
post_id                 0
score                   0
view_count              0
comment_count           0
favorite_count       1028
dtype: int64

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!