#### 1. Import pandas library

In [1]:
import pandas as pd

#### 2. Load data (users.csv, posts.csv)

In [2]:
user=pd.read_csv("users.csv")
posts=pd.read_csv("posts.csv")

#### 3. Rename id column to user_id

In [4]:
#Primero miro el nombre de las columnas
user.columns

Index(['Unnamed: 0', 'id', 'display_name', 'about_me', 'age', 'creation_date',
       'last_access_date', 'location', 'reputation', 'up_votes', 'down_votes',
       'views', 'profile_image_url', 'website_url'],
      dtype='object')

In [5]:
#Lo cambio directamente
user.columns=['Unnamed: 0', 'user_id', 'display_name', 'about_me', 'age', 'creation_date',
       'last_access_date', 'location', 'reputation', 'up_votes', 'down_votes',
       'views', 'profile_image_url', 'website_url']

In [6]:
#compruebo
user.columns

Index(['Unnamed: 0', 'user_id', 'display_name', 'about_me', 'age',
       'creation_date', 'last_access_date', 'location', 'reputation',
       'up_votes', 'down_votes', 'views', 'profile_image_url', 'website_url'],
      dtype='object')

#### 4. Rename id column to post_id and owner_user_id to user_id

In [7]:
#Primero miro el nombre de las columnas
posts.columns

Index(['id', 'owner_user_id', 'score', 'view_count', 'comment_count',
       'favorite_count'],
      dtype='object')

In [8]:
#Lo cambio directamente
posts.columns=['post_id', 'user_id', 'score', 'view_count', 'comment_count',
       'favorite_count']

In [9]:
#compruebo
posts.columns

Index(['post_id', 'user_id', 'score', 'view_count', 'comment_count',
       'favorite_count'],
      dtype='object')

#### 5. Define new dataframes for users and posts with the following selected columns:
    **users columns**: user_id, reputation,views,up_votes,down_votes
    **posts columns**: post_id, score,user_id,view_count,comment_count

In [26]:
newuser=pd.DataFrame(data=user,columns=("user_id","reputation","views","up_votes","down_votes"))

In [28]:
newposts=pd.DataFrame(data=posts,columns=("post_id","score","user_id","view_count","comment_count"))

#### 6. Merge both dataframes, users and posts. 
You will need to make a [merge](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.merge.html) of posts and users dataframes.

In [30]:
df=pd.merge(newuser,newposts,on="user_id")

#### 7. How many missing values do you have in your merged dataframe?

In [32]:
df.isna().sum()

user_id          0
reputation       0
views            0
up_votes         0
down_votes       0
post_id          0
score            0
view_count       0
comment_count    0
dtype: int64

In [59]:
df.describe()

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
count,1.065000e+03,1065.000000,1065.000000,1065.000000,1065.000000,1.065000e+03,1065.000000,1065.000000,1065.000000
mean,2.280169e+06,7251.176526,615.245070,397.688263,49.415023,3.398846e+07,0.123944,15.606573,0.926761
std,1.833959e+06,24021.612286,1497.407529,747.628862,177.308773,4.495709e+06,0.578141,3.711159,1.627503
min,2.740000e+02,1.000000,0.000000,0.000000,0.000000,4.142174e+06,-7.000000,3.000000,0.000000
25%,6.532920e+05,246.000000,39.000000,15.000000,0.000000,3.289111e+07,0.000000,13.000000,0.000000
50%,1.996838e+06,1145.000000,145.000000,96.000000,3.000000,3.556317e+07,0.000000,17.000000,0.000000
75%,3.545704e+06,5206.000000,496.000000,375.000000,20.000000,3.699112e+07,0.000000,19.000000,1.000000
max,6.449207e+06,287170.000000,23103.000000,7886.000000,2692.000000,3.776986e+07,3.000000,20.000000,11.000000

There are no missing values

#### Bonus: Identify extreme values in your merged dataframe, create a dataframe called outliers with the same columns as our data set and calculate the bounds. The values of the outliers dataframe will be the values of the merged_df that fall outside that bounds. You will need to save your outliers dataframe to a csv file on your-code folder. Hint: post_id cannot have outliers!

In [57]:
#Con describe calcula el maximo, el minimo y los cuartiles (25,50 y 75),
# el objetivo es quedarnos con los datos comprendidos entre el 25 y el 75
outliers=df.describe()

In [58]:
outliers.drop((["count","mean","std","min","50%","max"]),axis=0,inplace=True)
#Tambien quito la columna post ya que no es relevante numericamente
outliers.drop("post_id",axis=1)

,user_id,reputation,views,up_votes,down_votes,score,view_count,comment_count
25%,653292.0,246.0,39.0,15.0,0.0,0.0,13.0,0.0
75%,3545704.0,5206.0,496.0,375.0,20.0,0.0,19.0,1.0

In [55]:
outliers

,user_id,reputation,views,up_votes,down_votes,post_id,score,view_count,comment_count
25%,653292.0,246.0,39.0,15.0,0.0,32891107.0,0.0,13.0,0.0
75%,3545704.0,5206.0,496.0,375.0,20.0,36991120.0,0.0,19.0,1.0

In [72]:
help(pd.merge)

Help on function merge in module pandas.core.reshape.merge:

merge(left, right, how: str = 'inner', on=None, left_on=None, right_on=None, left_index: bool = False, right_index: bool = False, sort: bool = False, suffixes=('_x', '_y'), copy: bool = True, indicator: bool = False, validate=None) -> 'DataFrame'
    Merge DataFrame or named Series objects with a database-style join.

    The join is done on columns or indexes. If joining columns on
    columns, the DataFrame indexes *will be ignored*. Otherwise if joining indexes
    on indexes or indexes on a column or columns, the index will be passed on.
    When performing a cross merge, no column specifications to merge on are
    allowed.

    Parameters
    ----------
    left : DataFrame
    right : DataFrame or named Series
        Object to merge with.
    how : {'left', 'right', 'outer', 'inner', 'cross'}, default 'inner'
        Type of merge to be performed.

        * left: use only keys from left frame, similar to a SQL left outer join;
          preserve key order.
        * right: use only keys from right frame, similar to a SQL right outer join;
          preserve key order.
        * outer: use union of keys from both frames, similar to a SQL full outer
          join; sort keys lexicographically.
        * inner: use intersection of keys from both frames, similar to a SQL inner
          join; preserve the order of the left keys.
        * cross: creates the cartesian product from both frames, preserves the order
          of the left keys.

          .. versionadded:: 1.2.0

    on : label or list
        Column or index level names to join on. These must be found in both
        DataFrames. If `on` is None and not merging on indexes then this defaults
        to the intersection of the columns in both DataFrames.
    left_on : label or list, or array-like
        Column or index level names to join on in the left DataFrame. Can also
        be an array or list of arrays of the length of the left DataFrame.
        These arrays are treated as if they are columns.
    right_on : label or list, or array-like
        Column or index level names to join on in the right DataFrame. Can also
        be an array or list of arrays of the length of the right DataFrame.
        These arrays are treated as if they are columns.
    left_index : bool, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels.
    right_index : bool, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index.
    sort : bool, default False
        Sort the join keys lexicographically in the result DataFrame. If False,
        the order of the join keys depends on the join type (how keyword).
    suffixes : list-like, default is ("_x", "_y")
        A length-2 sequence where each element is optionally a string
        indicating the suffix to add to overlapping column names in
        `left` and `right` respectively. Pass a value of `None` instead
        of a string to indicate that the column name from `left` or
        `right` should be left as-is, with no suffix. At least one of the
        values must not be None.
    copy : bool, default True
        If False, avoid copy if possible.
    indicator : bool or str, default False
        If True, adds a column to the output DataFrame called "_merge" with
        information on the source of each row. The column can be given a different
        name by providing a string argument. The column will have a Categorical
        type with the value of "left_only" for observations whose merge key only
        appears in the left DataFrame, "right_only" for observations
        whose merge key only appears in the right DataFrame, and "both"
        if the observation's merge key is found in both DataFrames.

    validate : str, optional
        If specified, checks if merge is of specified type.

        * "one_to_one" or "1:1": check if merge keys are unique in both
          left and right datasets.
        * "one_to_many" or "1:m": check if merge keys are unique in left
          dataset.
        * "many_to_one" or "m:1": check if merge keys are unique in right
          dataset.
        * "many_to_many" or "m:m": allowed, but does not result in checks.

    Returns
    -------
    DataFrame
        A DataFrame of the two merged objects.

    See Also
    --------
    merge_ordered : Merge with optional filling/interpolation.
    merge_asof : Merge on nearest keys.
    DataFrame.join : Similar method using indices.

    Notes
    -----
    Support for specifying index levels as the `on`, `left_on`, and
    `right_on` parameters was added in version 0.23.0
    Support for merging named Series objects was added in version 0.24.0

    Examples
    --------
    >>> df1 = pd.DataFrame({'lkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [1, 2, 3, 5]})
    >>> df2 = pd.DataFrame({'rkey': ['foo', 'bar', 'baz', 'foo'],
    ...                     'value': [5, 6, 7, 8]})
    >>> df1
        lkey value
    0   foo      1
    1   bar      2
    2   baz      3
    3   foo      5
    >>> df2
        rkey value
    0   foo      5
    1   bar      6
    2   baz      7
    3   foo      8

    Merge df1 and df2 on the lkey and rkey columns. The value columns have
    the default suffixes, _x and _y, appended.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey')
      lkey  value_x rkey  value_y
    0  foo        1  foo        5
    1  foo        1  foo        8
    2  foo        5  foo        5
    3  foo        5  foo        8
    4  bar        2  bar        6
    5  baz        3  baz        7

    Merge DataFrames df1 and df2 with specified left and right suffixes
    appended to any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey',
    ...           suffixes=('_left', '_right'))
      lkey  value_left rkey  value_right
    0  foo           1  foo            5
    1  foo           1  foo            8
    2  foo           5  foo            5
    3  foo           5  foo            8
    4  bar           2  bar            6
    5  baz           3  baz            7

    Merge DataFrames df1 and df2, but raise an exception if the DataFrames have
    any overlapping columns.

    >>> df1.merge(df2, left_on='lkey', right_on='rkey', suffixes=(False, False))
    Traceback (most recent call last):
    ...
    ValueError: columns overlap but no suffix specified:
        Index(['value'], dtype='object')

    >>> df1 = pd.DataFrame({'a': ['foo', 'bar'], 'b': [1, 2]})
    >>> df2 = pd.DataFrame({'a': ['foo', 'baz'], 'c': [3, 4]})
    >>> df1
          a  b
    0   foo  1
    1   bar  2
    >>> df2
          a  c
    0   foo  3
    1   baz  4

    >>> df1.merge(df2, how='inner', on='a')
          a  b  c
    0   foo  1  3

    >>> df1.merge(df2, how='left', on='a')
          a  b  c
    0   foo  1  3.0
    1   bar  2  NaN

    >>> df1 = pd.DataFrame({'left': ['foo', 'bar']})
    >>> df2 = pd.DataFrame({'right': [7, 8]})
    >>> df1
        left
    0   foo
    1   bar
    >>> df2
        right
    0   7
    1   8

    >>> df1.merge(df2, how='cross')
       left  right
    0   foo      7
    1   foo      8
    2   bar      7
    3   bar      8

In [70]:
#Creo una funcion que mantenga el valor si esta dentro de los parametros
def esta(x):
    if x<653292.0 or  x>3545704.0:
        df2.drop("x",axis=0,inplace=True)